<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Custom\AdvanceExchange\Api\AdvancedExchangeRepositoryInterface" type="Custom\AdvanceExchange\Model\AdvancedExchangeRepository"/>
	<preference for="Custom\AdvanceExchange\Api\Data\AdvancedExchangeInterface" type="Custom\AdvanceExchange\Model\AdvancedExchange"/>
	<preference for="Custom\AdvanceExchange\Api\Data\AdvancedExchangeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Custom\AdvanceExchange\Model\ResourceModel\AdvancedExchange\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">custom_advanceexchange_advanced_exchange</argument>
			<argument name="resourceModel" xsi:type="string">Custom\AdvanceExchange\Model\ResourceModel\AdvancedExchange\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="custom_advanceexchange_advanced_exchange_listing_data_source" xsi:type="string">Custom\AdvanceExchange\Model\ResourceModel\AdvancedExchange\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<!-- Image Uploader -->
	<virtualType name="VirtualTypeName" type="Magento\Catalog\Model\ImageUploader">
		<arguments>
			<argument name="baseTmpPath" xsi:type="string">advanceExchange</argument>
			<argument name="basePath" xsi:type="string">advanceExchange</argument>
			<argument name="allowedExtensions" xsi:type="array">
				<item name="jpg" xsi:type="string">jpg</item>
				<item name="jpeg" xsi:type="string">jpeg</item>
				<item name="gif" xsi:type="string">gif</item>
				<item name="png" xsi:type="string">png</item>
				<item name="txt" xsi:type="string">txt</item>
				<item name="pdf" xsi:type="string">pdf</item>
			</argument>
		</arguments>
	</virtualType>
	<type name="Custom\AdvanceExchange\Controller\Adminhtml\Index\Uploader">
	<arguments>
		<argument name="imageUploader" xsi:type="object">VirtualTypeName</argument>
	</arguments>
	</type>
	<!-- End Image Uploader -->
</config>
