<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_RmaAutomation::rma_automation" title="RMA Automation Rules" module="Amasty_RmaAutomation" sortOrder="102" parent="Magento_Sales::sales" resource="Amasty_RmaAutomation::rma_automation"/>
        <add id="Amasty_RmaAutomation::automation_rules"
             title="Automation Rules"
             module="Amasty_RmaAutomation"
             sortOrder="10"
             parent="Amasty_RmaAutomation::rma_automation"
             action="amrmaaut/automationrule"
             resource="Amasty_RmaAutomation::automation_rules" />
    </menu>
</config>
