<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magenest\RentalSystem\Model\ResourceModel\Rental\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_rental_product</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\RentalSystem\Model\ResourceModel\Rental</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magenest\RentalSystem\Model\ResourceModel\RentalOrder\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_rental_order</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\RentalSystem\Model\ResourceModel\RentalOrder</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rentalsystem_product_listing_data_source" xsi:type="string">Magenest\RentalSystem\Model\ResourceModel\Rental\Grid\Collection</item>
                <item name="rentalsystem_order_listing_data_source" xsi:type="string">Magenest\RentalSystem\Model\ResourceModel\RentalOrder\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magenest\RentalSystem\Controller\Order\History">
        <plugin name="authentication" type="Magento\Sales\Controller\Order\Plugin\Authentication"/>
    </type>
    <type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin name="orderFormToolbarReorder" type="Magenest\RentalSystem\Block\Widget\Button\Toolbar" sortOrder="100" />
    </type>
    <type name="Magento\Catalog\Helper\Product">
        <plugin name="getConfigurableOptionsRental" type="Magenest\RentalSystem\Plugin\EditCart" sortOrder="100" />
    </type>
    <!--<preference for="Magento\Checkout\Controller\Cart\Add" type="Magenest\RentalSystem\Controller\Cart\Add" />-->
    <preference for="Magento\Sales\Helper\Reorder" type="Magenest\RentalSystem\Helper\Reorder"/>
    <preference for="Magento\Multishipping\Helper\Data" type="Magenest\RentalSystem\Helper\Multishipping"/>
    <type name="Magento\Wishlist\Helper\Data">
        <plugin name="modifyConfigUrl" type="Magenest\RentalSystem\Plugin\WishlistUrl" sortOrder="100" />
    </type>
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="rental_excludeMinification" type="Magenest\RentalSystem\Plugin\ExcludeMinification" />
    </type>
    <type name="Magento\InventoryConfiguration\Model\IsSourceItemManagementAllowedForProductType">
        <plugin name="rental_disableSourceManagement" type="Magenest\RentalSystem\Plugin\DisableSourceManagement"/>
    </type>
    <type name="Magento\InventorySales\Model\IsProductSalableForRequestedQtyCondition\IsProductSalableForRequestedQtyConditionChain">
        <plugin name="rental_disableValidateProductType" type="Magenest\RentalSystem\Plugin\DisableValidateProductType"/>
    </type>
    <type name="Magento\CatalogImportExport\Model\Export\RowCustomizer\Composite">
        <arguments>
            <argument name="customizers" xsi:type="array">
                <item name="rentalProduct" xsi:type="string">Magenest\RentalSystem\Model\Export\RowCustomizer</item>
            </argument>
        </arguments>
    </type>
    <type name="Magenest\RentalSystem\Model\RentalRule\Condition\Combine">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="form_name" xsi:type="string">rentalsystem_rule_form</item>
            </argument>
        </arguments>
    </type>
    <type name="Magenest\RentalSystem\Model\RentalRule\Condition\ConditionsToCollectionApplier">
        <arguments>
            <argument name="searchCriteriaProcessor" xsi:type="object">CatalogRuleAdvancedFilterProcessor</argument>
        </arguments>
    </type>
    <type name="Magenest\RentalSystem\Model\RentalRule\Condition\MappableConditionsProcessor">
        <arguments>
            <argument name="customConditionProvider" xsi:type="object">CatalogRuleCustomConditionProvider</argument>
        </arguments>
    </type>
</config>
