<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<!-- Sync the sales_order table and sales_order_grid -->
	<virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
		<arguments>
			<argument name="columns" xsi:type="array">
				<item name="customer_shipping_account" xsi:type="string">
					sales_order.customer_shipping_account
				</item>
                <item name="cost_center" xsi:type="string">
					sales_order.cost_center
				</item>
				<item name="client_po" xsi:type="string">
					sales_order.client_po
				</item>
			</argument>
		</arguments>
	</virtualType>
	
</config>
