<?xml version="1.0"?>
<!--
/**
 * Copyright © 2019 Magenest. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="rental_product_save" instance="Magenest\RentalSystem\Observer\Product\SaveAfterObserver"/>
    </event>
    <event name="catalog_category_change_products">
        <observer name="rental_rule_reindex" instance="Magenest\RentalSystem\Observer\Category\ChangeProducts"/>
    </event>
    <event name="catalog_product_save_before">
        <observer name="rental_product_save_before" instance="Magenest\RentalSystem\Observer\Product\SaveBeforeObserver" />
    </event>
    <event name="admin_system_config_changed_section_rental_system">
        <observer name="rental_config_validate_data" instance="Magenest\RentalSystem\Observer\Config\Validate"/>
    </event>
<!--    <event name="sales_creditmemo_item_save_after">-->
<!--        <observer name="rental_update_qty_memo" instance="Magenest\RentalSystem\Observer\Creditmemo\SaveItem" />-->
<!--    </event>-->
</config>
