<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <demoreminder>
            <general>
                <enabled>1</enabled>
                <reminder_days_before>7</reminder_days_before>
                <cron_time>0 0 * * *</cron_time>
            </general>
            <email>
                <customer_email_template>customer_demo_reminder_email_template</customer_email_template>
                <sales_rep_email_template>sales_rep_demo_reminder_email_template</sales_rep_email_template>
            </email>
        </demoreminder>
    </default>
</config>