<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <quoterequest>
            <general>
                <enabled>1</enabled>
            </general>
            <email>
                <recipient_email>
                    <![CDATA[hello@example.com]]>
                </recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <requested_template>mobilitiy_quote_request_new_email_template</requested_template>
                <approved_template>mobilitiy_quote_request_approved_email_template</approved_template>
                <rejected_template>mobilitiy_quote_request_rejected_email_template</rejected_template>
            </email>
        </quoterequest>
    </default>
</config>
