<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cminds_oapm>
                <group>cminds</group>
                <model>Cminds\Oapm\Model\Payment\Oapm</model>
                <title>Order Approval Payment Method</title>
                <order_lifetime>168</order_lifetime>
                <auto_clean_active>1</auto_clean_active>

                <!-- email templates -->
                <order_placed_payer_notification_email>payment_us_cminds_oapm_order_placed_payer_notification_email</order_placed_payer_notification_email>
                <order_payed_payer_notification_email>payment_us_cminds_oapm_order_payed_payer_notification_email</order_payed_payer_notification_email>
                <order_canceled_payer_notification_email>payment_us_cminds_oapm_order_canceled_payer_notification_email</order_canceled_payer_notification_email>
                <order_pending_reminder_payer_notification_email>payment_us_cminds_oapm_order_pending_reminder_payer_notification_email</order_pending_reminder_payer_notification_email>
                <order_pending_last_reminder_payer_notification_email>payment_us_cminds_oapm_order_pending_last_reminder_payer_notification_email</order_pending_last_reminder_payer_notification_email>
                <order_placed_creator_notification_email>payment_us_cminds_oapm_order_placed_creator_notification_email</order_placed_creator_notification_email>
                <order_payed_creator_notification_email>payment_us_cminds_oapm_order_payed_creator_notification_email</order_payed_creator_notification_email>
                <order_canceled_creator_notification_email>payment_us_cminds_oapm_order_canceled_creator_notification_email</order_canceled_creator_notification_email>
                <order_pending_last_reminder_creator_notification_email>payment_us_cminds_oapm_order_pending_last_reminder_creator_notification_email</order_pending_last_reminder_creator_notification_email>
            </cminds_oapm>
        </payment>
    </default>
</config>
