<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- <preference for="Magento\Checkout\Model\Session"
                type="Cminds\Oapm\Preference\Checkout\Model\Session" /> -->
    <preference for="Magento\Persistent\Model\QuoteManager"
                type="Cminds\Oapm\Preference\Persistent\Model\QuoteManager" />
    <preference for="Magento\Quote\Model\Quote"
                type="Cminds\Oapm\Preference\Quote\Model\Quote" />
    <!-- <preference for="Magento\Sales\Model\Order\Email\Sender\OrderSender"
                type="Cminds\Oapm\Preference\Sales\Model\Order\Email\Sender\OrderSender" /> -->
    <type name="Magento\Sales\Model\Order\Email\Sender\OrderSender">
        <plugin name="CmindsOapmPluginSalesModelOrderEmailSenderOrderSender"
            type="Cminds\Oapm\Plugin\Sales\Model\Order\Email\Sender\OrderSender" sortOrder="100"/>
    </type>
    <type name="Magento\Customer\Api\GroupRepositoryInterface">
        <plugin name="cminds_oapm_after_get_data" type="Cminds\Oapm\Plugin\Customer\Group\GroupRepository" sortOrder="1"/>
    </type>
    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="CmindsOapmPluginCheckoutModelDefaultConfigProvider"
            type="Cminds\Oapm\Plugin\Checkout\Model\DefaultConfigProvider" sortOrder="100"/>
    </type>
    <type name="Magento\Sales\Api\OrderManagementInterface">
        <plugin name="CmindsOapmSendOrderPlacedNotification"
                type="Cminds\Oapm\Plugin\Sales\Api\OrderManagementInterface\SendOrderPlacedNotification" />
        <plugin name="CmindsOapmSendOrderPayedNotification"
                type="Cminds\Oapm\Plugin\Sales\Api\OrderManagementInterface\SendOrderPayedNotification" />
    </type>
    <type name="Magento\Checkout\Model\Session">
        <plugin name="CmindsOapmPluginCheckoutModelSession"
                type="Cminds\Oapm\Plugin\Checkout\Model\Session" />
    </type>
    <type name="Magento\Payment\Api\PaymentMethodListInterface">
        <plugin name="CmindsOapmPluginPaymentApiPaymentMethodListInterface"
                type="Cminds\Oapm\Plugin\Payment\Api\PaymentMethodListInterface" />
    </type>
    <type name="Cminds\Oapm\Logger\Handler">
        <arguments>
            <argument name="fileName" xsi:type="string">oapm.log</argument>
        </arguments>
    </type>
    <type name="Cminds\Oapm\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">cminds_oapm</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Cminds\Oapm\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <!-- solution to fill checkout page form -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="CmindsOapmPluginCheckoutModelCheckoutLayoutProcessor"
            type="Cminds\Oapm\Plugin\Checkout\Model\Checkout\LayoutProcessor" sortOrder="100"/>
    </type>
    <!-- check email for guest users on oapm order confirmation -->
    <type name="Magento\Checkout\Model\GuestPaymentInformationManagement">
        <plugin name="CmindsOapmPluginCheckoutModelGuestPaymentInformationManagement"
            type="Cminds\Oapm\Plugin\Checkout\Model\GuestPaymentInformationManagement" sortOrder="100"/>
    </type>
    <!-- if order was places from an account and confirmation link is opened by a non logged user -->
    <type name="Magento\Authorization\Model\CompositeUserContext">
        <plugin name="CmindsOapmPluginAuthorizationModelCompositeUserContext"
            type="Cminds\Oapm\Plugin\Authorization\Model\CompositeUserContext" sortOrder="100"/>
    </type>
    <!-- if order was places from an account and confirmation link is opened by a logged user -->
    <type name="Magento\Quote\Model\Webapi\ParamOverriderCartId">
        <plugin name="CmindsOapmPluginQuoteModelWebapiParamOverriderCartId"
            type="Cminds\Oapm\Plugin\Quote\Model\Webapi\ParamOverriderCartId" sortOrder="100"/>
    </type>
    <type name="Magento\Webapi\Controller\Rest\RequestValidator">
        <plugin name="CmindsOapmPluginWebapiControllerRestRequestValidator"
            type="Cminds\Oapm\Plugin\Webapi\Controller\Rest\RequestValidator" sortOrder="100"/>
    </type>
</config>
