<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="cminds_oapm" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Approval Payment Method</label>
                <!-- <resource>Cminds_Oapm::config_payment_oapm</resource> -->
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="use_group_manager_email" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Use Group Manager Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="approver" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Who will approve the order</label>
                    <source_model>Cminds\Oapm\Model\Config\Source\Approver</source_model>
                    <comment><![CDATA[If Admin will be selected then all payments will be removed during checkout and only OAPM will be able to select.]]></comment>
                </field>
                <field id="approver_identity" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Receiver</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <depends>
                        <field id="approver">1</field>
                    </depends>
                </field>
                <field id="reminder_intervals" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Reminder Intervals</label>
                    <comment><![CDATA[Please type an integer values of hours, separated by comma which will indicate after what amount of time after order creation each reminder will be send. No reminders will be send if field is empty.]]></comment>
                </field>
                <field id="order_lifetime" translate="label comment" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pending order lifetime</label>
                    <comment><![CDATA[Please type an integer value of hours amount which will indicate how long pending order will be available. For unlimited lifetime please leave empty.]]></comment>
                </field>
                <field id="auto_clean_active" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Automatic Order Cleaning</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auto_clean_time" translate="label" type="time" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Automatic Order Cleaning Time</label>
                    <depends>
                        <field id="auto_clean_active">1</field>
                    </depends>
                </field>
                <field id="auto_clean_frequency" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Automatic Order Cleaning Frequency</label>
                    <depends>
                        <field id="auto_clean_active">1</field>
                    </depends>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Cminds\Oapm\Model\Config\Backend\Cron</backend_model>
                </field>
                <!-- email templates -->
                <field id="order_placed_payer_notification_email" translate="label" type="select" sortOrder="100" showInDefault="1" canRestore="1" showInWebsite="1" showInStore="1">
                    <label>Payer Order Placement Notification Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="order_payed_payer_notification_email" translate="label" type="select" sortOrder="110" showInDefault="1" canRestore="1" showInWebsite="1" showInStore="1">
                    <label>Payer Order Payment Notification Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="order_canceled_payer_notification_email" translate="label" type="select" sortOrder="120" showInDefault="1" canRestore="1" showInWebsite="1" showInStore="1">
                    <label>Payer Order Cancelation Notification Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="order_pending_reminder_payer_notification_email" translate="label" type="select" sortOrder="130" showInDefault="1" canRestore="1" showInWebsite="1" showInStore="1">
                    <label>Payer Pending Order Reminder Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="order_pending_last_reminder_payer_notification_email" translate="label" type="select" sortOrder="140" showInDefault="1" canRestore="1" showInWebsite="1" showInStore="1">
                    <label>Payer Pending Order Last Reminder Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="order_placed_creator_notification_email" translate="label" type="select" sortOrder="150" showInDefault="1" canRestore="1" showInWebsite="1" showInStore="1">
                    <label>Creator Order Placement Notification Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="order_payed_creator_notification_email" translate="label" type="select" sortOrder="160" showInDefault="1" canRestore="1" showInWebsite="1" showInStore="1">
                    <label>Creator Order Payment Notification Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="order_canceled_creator_notification_email" translate="label" type="select" sortOrder="170" showInDefault="1" canRestore="1" showInWebsite="1" showInStore="1">
                    <label>Creator Order Cancelation Notification Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="order_pending_last_reminder_creator_notification_email" translate="label" type="select" sortOrder="180" showInDefault="1" canRestore="1" showInWebsite="1" showInStore="1">
                    <label>Creator Pending Order Last Reminder Email Template</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
