<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{var data.opportunity}} @-->
<!--@subject {{trans "New Quote Request"}} @-->
<!--@vars {
"var data.quote_name":"Quote Name",
"var data.opportunity":"Opportunity",
"var data.approval_1_status":"Approval 1 Status",
"var data.approval_2_status":"Approval 2 Status"
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "ORDER CONFIRMATION"}}</strong></td>
    </tr>
    {{if data.store_id}}
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "Sales Rep"}}</strong></td>
        <td>{{var data.name}}</td>
    </tr>
    {{else}}
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "Customer Name"}}</strong></td>
        <td>{{var data.name}}</td>
    </tr>
    {{/if}}
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "Order #"}}</strong></td>
        <td>{{var data.increment_id}}</td>
    </tr>
    <!-- <tr>
        <td style="padding-right:20px;"><strong>{{trans "Quote Name"}}</strong></td>
        <td>{{var data.quote_name}}</td>
    </tr> -->
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "Approval 1 Status"}}</strong></td>
        <td style="text-transform:capitalize;">{{var data.approval_1_status}}</td>
    </tr>
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "Approval 2 Status"}}</strong></td>
        <td style="text-transform:capitalize;">{{var data.approval_2_status}}</td>
    </tr>
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "Customer Approval Status"}}</strong></td>
        <td style="text-transform:capitalize;">{{var data.customer_approval_status}}</td>
    </tr>
    {{if data.token}}
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "Approval "}}{{var data.approval}}{{trans " link "}}</strong>
        </td>
        <td><a
                href="{{config path='web/secure/base_url'}}orderapproval/order/emailapproval?order_id={{var data.order_id}}&approval={{var data.approval}}&token={{var data.token}}">click
                here to approve</a></td>
    </tr>
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "Order Details "}}</strong></td>
        <td><a href="{{config path='web/secure/base_url'}}firstnet/sales/order/view/order_id/{{var data.order_id}}/">click
                here to view order details</a></td>
    </tr>
    {{/if}}
</table>

{{template config_path="design/email/footer_template"}}