<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Your Quote Request has been approved."}} @-->
<!--@vars {
"var data.quote_name":"Quote Name",
"var data.opportunity":"Opportunity",
"var data.approval_1_status":"Approval 1 Status",
"var data.approval_2_status":"Approval 2 Status"
} @-->

{{template config_path="design/email/header_template"}}

<table class="message-details">
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "ORDER CONFIRMATION"}}</strong></td>
    </tr>
    
    {{if  data.name}}
       <tr>
           <td style="padding-right:20px;"><strong>{{trans "Sales Rep#"}}</strong></td>
           <td>{{var data.name}}</td>
       </tr>
    {{else}}
        
    {{/if}}
    
    
    
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "Order #"}}</strong></td>
        <td>{{var data.opportunity}}</td>
    </tr>
    <!-- <tr>
        <td style="padding-right:20px;"><strong>{{trans "Quote Name"}}</strong></td>
        <td>{{var data.quote_name}}</td>
    </tr> -->
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "Approval 1 Status"}}</strong></td>
        <td style="text-transform:capitalize;">{{var data.approval_1_status}}</td>
    </tr>
    <tr>
        <td style="padding-right:20px;"><strong>{{trans "Approval 2 Status"}}</strong></td>
        <td style="text-transform:capitalize;">{{var data.approval_2_status}}</td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
