<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="customer" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Customer Configuration</label>
            <tab>customer</tab>
            <resource>Magento_Customer::config_customer</resource>
            <group id="redirect" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Redirect After Login</label>
                <field id="target_url" translate='label' sortOrder="10" type="text" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Target Path</label>
                </field>
            </group>
        </section>
    </system>
</config>