<!--@subject {{trans "Account Created - Reset Your Password"}}  @-->
{{template config_path="design/email/header_template"}}

<p class="greeting">{{trans "%name," name=$customer.name}}</p>
<p>{{trans "Welcome to "}}{{trans "%store_name" store_name=$store.frontend_name}}.</p>
<p style="margin-top:0;margin-bottom:10px">
    To sign in to our site and set a password, click on the <a href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[token:$customer.rp_token],_nosid:1])}}" style="color:#006bb4;text-decoration:none" target="_blank" >link</a>:
</p>

<li style="margin-top:0;margin-bottom:10px">
<strong style="font-weight:700">Email:</strong> <a href="mailto: {{var email}}" target="_blank">{{var email}}</a></li>

<p style="margin-top:0;margin-bottom:10px">When you sign in to your account, you will be able to:</p>
<li style="margin-top:0;margin-bottom:10px">Proceed through checkout faster</li>
<li style="margin-top:0;margin-bottom:10px">Check the status of orders</li>
<li style="margin-top:0;margin-bottom:10px">View past orders</li>
<li style="margin-top:0;margin-bottom:10px">Store alternative addresses (for shipping to multiple family members and friends)</li>

{{template config_path="design/email/footer_template"}}
